<?php
/**
 * @var \Magento\Framework\View\Element\Template            $block
 * @var \GetNoticed\BlockTestEnvironments\Block\BlockedPage $viewModel
 */
$viewModel = $block->getData('view_model');
?>
<div style="text-align: center; padding: 50px 0">
    <p>
        <img src="https://www.getnoticed.nl/addons/themes/getnoticed/img/getnoticed-logo-dark2.png"
             alt="Get.Noticed B.V." title="Get.Noticed B.V."/>
    </p>
    <p style="font-size: 13pt"><?php echo __('The use of this test / acceptance environment is restricted.') ?></p>
    <p style="font-size: 13pt"><?php echo __('If you are an Get.Noticed employee, please authorize <strong>%1</strong> through the CLI.', $viewModel->getRemoteAddress()) ?></p>
    <p style="font-size: 13pt"><?php echo __('If you are our customer and this is your acceptance environment, please send an e-mail to <a href="mailto:support@getnoticed.nl">support@getnoticed.nl</a> using the template below.') ?></p>
    <p style="font-size: 13pt;"><a href="<?php echo $viewModel->getAdminUrl() ?>"><?php echo __('For temporary access, you can also log in to the admin panel.') ?></a></p>

    <textarea style="width: 600px; height: 70px; padding: 5px; text-align: center"
              onclick="this.select()"><?php echo __(
            'We currently have no access to %1. Our IP-address is %2. Please provide us with access to this environment.',
            $viewModel->getHostname(),
            $viewModel->getRemoteAddress()
        ) ?></textarea>
</div>